<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>
<div class="about_us">
  <h1 style="text-align: center;">CHARITABLE ORGANIZATION</h1>

  <div >

    <h2 style="text-align: center;">"IEVTUSHENKO SPORTS DEVELOPMENT AND SUPPORT CHARITABLE FUND"</h2><br>
    <h3 style="text-align: center;">Legal address: 21 V. Khvoiky St., Office 1302, Kyiv, 04080</h3><br>
    <h3 style="text-align: center;">Mailing address: 21 V. Khvoiky St., P.O. Box 228, Kyiv, 04080</h3><br>
    <h3 style="text-align: center;">Tel.: +38 095 067 48 23, +38 044 227 50 16</h3><br>
    <h3 style="text-align: center;">Identification number: 40324368</h3><br>
    <h3 style="text-align: center;">E-mail: fund@ievtusnenko.com</h3><br>
    <h3 style="text-align: center;">Skype: fund-ievtushenko</h3><br>

<!--    <h1 style="text-align: center;">Александр</h1>-->
    <br><br>
  </div>
</div>
</body>
</html>